html,
body {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --animate-delay: 2s;
    --animate-duration: 1.3s;
}

/* theme color */

.blue {
    background-color: #63b2ff;
}

.blue:hover {
    background-color: #55aaff;
    color: #fff;
}

.green {
    background-color: #6EC205;
}

.green:hover {
    background-color: #78d605;
    color: #fff;
}

.black {
    /* background-color: #111; */
    background: radial-gradient(51.83% 51.83% at 50% 51.83%, #000 75.8%, #222 100%);
}

.orange {
    background-color: #ff9056;
}

/* theme button */
.theme-o,
.theme-b {
    position: fixed;
    top: 22px;
    right: 24vw;
    z-index: 3;
    width: 40px;
    cursor: pointer;
}


/******** navbar *******/

body>nav {
    padding: 0;
    z-index: 2;
    background-color: #fff;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.toggle-color {
    background-color: rgba(255, 255, 255, .8);
}

.navbar-toggler {
    width: 40px;
    height: 40px;
    padding: 0;
    padding-right: 3px;
    padding-bottom: 6px;
}

.navbar-toggler svg {
    width: 24px;
    height: 24px;
}

.navbar-collapse .btn {
    color: #fff;
    font-size: 16px;
    padding: 8px 14px;
    width: fit-content;
}

.nav-link {
    font-size: 16px;
    margin-right: 20px;
    color: #000;
}

.b:hover {
    color: #63b2ff;
}

.g:hover {
    color: #6EC205;
}

@keyframes bounce {

    0%,
    20%,
    53%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
        transform: translate3d(0, -15px, 0) scaleY(1.1);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
        transform: translate3d(0, -15px, 0) scaleY(1.05)
    }

    80% {
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        -webkit-transform: translateZ(0) scaleY(.95);
        transform: translateZ(0) scaleY(.95)
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
        transform: translate3d(0, -4px, 0) scaleY(1.02)
    }
}

/******** hero-section *******/

.hero {
    min-height: calc(100vh - 84px);
    display: flex;
    align-items: center;
    padding-top: 84px;
    overflow: hidden;
}


.lap {
    width: 100%;
    border-radius: 50%;
}

.unmute,
.mute {
    right: 18%;
    bottom: 20%;
    width: 40px;
    height: 40px;
    background-color: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
}

.vid-cover img {
    /* right:110px;
    bottom: 196px; */
    right: 20%;
    bottom: 20%;
}

.lead {
    font-size: 16px;
    max-width: 500px;
}

.hero h1,
.lead {
    color: #fff !important;
}

.hero h1 {
    font-size: 72px;
    line-height: 86.4px;
    max-width: 545px;
}

.hero-btn {
    color: #fff;
    padding: 8px 24px;
    font-size: 16px;
    outline: 2px solid #fff;
}

.effect:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.effect1:hover {
    background-color: #50a7ff;
    color: #fff;
}


.twitter {
    padding: 0 !important;
}

/******** why-us *********/

.why,
.course,
.footer {
    background-color: #fcfdff;
}

.why>.container,
.reviews>.container-xl,
.course>.container-lg,
.contact>.container {
    padding: 100px 0;
    text-align: center;
}

h2 {
    font-size: 40px;
}

.why-grid,
.course-grid,
.contact-grid {
    grid-gap: 60px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 330px));
    padding-top: 70px !important;
}

.why-card,
.course-card,
.rev-card,
.contact-card {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    padding: 50px 40px;
    border-radius: 15px;
    background-color: #ffffff;
}

/*********** reviews ***********/

.reviews {
    position: relative;
}

.reviews p.text-light {
    font-size: 24px;
    margin-top: 2rem !important;
    margin-bottom: 60px !important;
}

.rev-grid {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.rev-grid::-webkit-scrollbar {
    display: none;
}

.rev-card {
    width: 400px;
    white-space: nowrap;
    margin: 0 30px;
    padding: 30px 40px;
}

.rev-card>p {
    white-space: initial;
}

.lappi {
    width: 70vw;
}

/* .rev-cover {
    position: relative;
} */

#carouselExampleInterval {
    width: 55%;
    position: absolute;
    top: 5.8vh;
    left: 19.3vw;
}

/************* course **********/

.course-grid {
    grid-template-columns: repeat(auto-fill, minmax(320px, 330px));
    gap: 60px;
    grid-row-gap: 80px;
}

.course-card {
    padding: 0;
    border-radius: 16px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.thumbnail img {
    max-width: 100%;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.course-detail {
    padding: 42px 32px;
}

.course-detail>h5 {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.course-detail>a {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*********** Contact ***********/

.contact-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 330px));
    gap: 60px;
    grid-row-gap: 100px;
}

.contact-card {
    height: fit-content;
    transform: rotate(-10deg);
    padding: 0;
}

.contact-card>div {
    transform: rotate(10deg);
}

.sub-img {
    width: 240px;
    /* border-radius: 40px; */
}

.sub {
    padding-bottom: 2px;
}

/*********** footer *************/

.container>footer {
    padding: 100px 0;
}

.col>.navbar-brand {
    width: fit-content;
}

footer>.col-md-4 {
    width: 416px;
}

.cm {
    margin-left: 100px;
}

.cm,
.cm-1 {
    margin-right: auto;
}

.wfit {
    width: 236px !important;
}

.mnc-logos {
    margin-top: 35px;
}

.mnc-logos>a {
    margin-right: 30px;
}

.mnc-logos img {
    width: 25px;
}

#insta {
    width: 30px;
}

.disclaimer {
    color: #fff;
    padding: 0;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
}

/* @media (min-width: 1200px) {
    .footer {
        max-width: 1224px;
    }
} */

@media (max-width: 1399.5px) {

    .theme-o,
    .theme-b {
        top: 22px;
        right: 28vw;
    }
}

@media (max-width: 1330px) and (min-width: 1200px) {
    .contact-grid {
        grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
        gap: 60px;
        grid-row-gap: 100px;
    }

    .sub-img {
        width: 210px;
    }
}


@media (max-width: 1200px) {
    .hero h1 {
        font-size: 60px;
        line-height: 72px;
    }

    .lappi {
        width: 80vw;
    }
}

@media (min-width: 992px) {
    .contact p {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .contact p {
        width: 57%;
    }
}


@media (max-width: 991.5px) {

    .video-box {
        margin-bottom: 50px;
    }

    .hero h1,
    .hero p {
        text-align: center;
        max-width: 100%;
    }

    .reviews p {
        font-size: 24px;
    }

    .cm {
        margin-left: 68px;
    }

    .theme-o,
    .theme-b {
        top: 22px;
        right: 22vw;
    }

    .vid-cover.animate__animated.animate__backInRight {
        --animate-delay: 0s;
    }

    h1.animate__animated.animate__backInLeft {
        --animate-delay: 1s;
    }

    .lead.animate__animated.animate__backInLeft {
        --animate-delay: 2s;
    }

    .col-lg-6.d-grid.animate__animated.animate__backInLeft {
        --animate-delay: 3s;
    }
}

@media (max-width: 940px) and (min-width: 770px) {
    .contact-grid {
        grid-template-columns: repeat(auto-fill, minmax(260px, 270px));
        gap: 60px;
        grid-row-gap: 100px;
    }

    .sub-img {
        width: 180px;
    }
}

@media (max-width: 767.5px) {

    .reviews p {
        font-size: 22px;
    }

    .contact-grid {
        grid-column-gap: 0;
    }

    footer>.col-md-4 {
        width: 425px;
    }

    .cm {
        margin-left: 0 !important;
    }

    .cm-1 {
        margin-right: 0;
    }

    .theme-o,
    .theme-b {
        top: 22px;
        right: 24vw;
    }
}

@media (max-width: 770px) and (min-width: 768px) {

    .contact-grid {
        grid-template-columns: repeat(auto-fill, minmax(260px, 270px));
        gap: 60px;
        grid-row-gap: 100px;
        place-items: center;
    }

    .sub-img {
        width: 180px;
    }
}

@media (max-width: 600px) {

    .hero h1 {
        font-size: 40px;
        line-height: 60px;
    }

    .lead {
        font-size: 15px;
    }

    h2 {
        font-size: 30px;
    }

    .reviews p {
        font-size: 18px;
        margin-top: 1.5rem !important;
    }

    .contact-grid {
        grid-template-columns: repeat(auto-fill, minmax(270px, 280px));
        gap: 60px;
        grid-row-gap: 100px;
    }

    .sub-img {
        width: 190px;
    }

    .contact h2,
    .contact p {
        padding: 0 20px;
    }

    footer>.col-md-4 {
        width: 460px;
    }

    .theme-o,
    .theme-b {
        top: 22px;
        right: 20vw;
    }

    .lappi {
        width: 90vw;
    }

}

@media (max-width: 488px) {

    .hero h1 {
        font-size: 34px;
        line-height: 42px;
    }

    footer>.col-md-4 {
        width: 425px;
    }

    .rev-card {
        width: 350px;
        margin-right: 20px;
        padding: 20px 40px;
    }
}

@media (max-width: 450px) {
    .contact-grid {
        grid-template-columns: repeat(auto-fill, minmax(260px, 260px));
    }

    .sub-img {
        width: 190px;
    }

    footer>.col-md-4 {
        width: 100%;
    }

    .unmute,
    .mute {
        right: 18%;
        bottom: 16%;
    }
}

@media (max-width: 433px) {

    .reviews>.container-xl {
        padding: 100px 20px;
    }

    .hero-btn {
        font-size: 14px;
    }

    .hero .container {
        padding: 30px !important;
    }

    .hero .row>.col-lg-6 {
        padding: 0 !important;
    }

    .course-grid {
        grid-template-columns: repeat(auto-fill, minmax(280px, 290px));
        grid-row-gap: 30px;
    }

    .contact-grid {
        grid-template-columns: repeat(auto-fill, minmax(240px, 250px));
    }

    .sub-img {
        width: 170px;
    }

    .cm {
        margin-right: 70px;
    }

    .mnc-logos>a {
        margin-right: 20px;
    }

    #twitter {
        margin-right: 0;
    }
}

@media (max-width: 400px) {
    .contact-grid {
        grid-template-columns: repeat(auto-fill, minmax(220px, 230px));
    }

    .sub-img {
        width: 150px;
    }
}

@media (max-width: 369px) {
    .why-grid {
        grid-template-columns: repeat(auto-fill, minmax(270px, 280px));
    }

    .hero h1 {
        font-size: 30px;
        line-height: 39.6px;
    }

    .hero-btn {
        font-size: 13px;
    }

    .why>.container,
    .course>.container {
        padding: 100px 20px;
    }

    .contact-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 210px));
    }

    .sub-img {
        width: 130px;
    }
}

@media (max-width: 331px) {
    .hero h1 {
        font-size: 28px;
        line-height: 39.6px;
    }

    .hero-btn {
        font-size: 10px;
    }

    .contact-grid {
        grid-template-columns: repeat(auto-fill, minmax(190px, 200px));
    }

    .sub-img {
        width: 120px;
    }
}